<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	
	<context-param>
	<param-name>cgst</param-name>
	<param-value>100.0</param-value>
	</context-param>
	
	
	
	
	
	<servlet>
		<init-param>
			<param-name>sgstkar</param-name>
			<param-value>12.0</param-value>
		</init-param>
		<servlet-name>karnataka</servlet-name>
		<servlet-class>gst1.KarServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>karnataka</servlet-name>
		<url-pattern>/kar</url-pattern>
	</servlet-mapping>

	<servlet>
		<init-param>
			<param-name>sgsttn</param-name>
			<param-value>10.0</param-value>
		</init-param>
		<servlet-name>tamilnadu</servlet-name>
		<servlet-class>gst1.TNServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tamilnadu</servlet-name>
		<url-pattern>/tn</url-pattern>
	</servlet-mapping>

</web-app>
